langchain
langchain-core
langchain-classic

langchain-openai
langchain_groq

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

python-dotenv
sentence-transformers

numpy
scikit-learn

streamlit

pydantic
